node_modules/
.git
.env

hello@bluecodetech.co
blueCodeAdmin@Up1

documentation: https://docs.google.com/document/d/1cDPbrQMStlhNYp82vAZwnUSTvUPYIFmVbwkYIDGT9eI/edit
trello:trello.com/b/BCIPHzti/live-snap
slack: https://app.slack.com/client/T02TDB8RFV2/C02TPMJ3Z7B
login credentials: https://docs.google.com/spreadsheets/d/1jVyKOHpdH6xLmFEtpCkuJBgV-in3YkqcwZ7Pc-pyBDk/edit#gid=0 

anipreciousebuka@gmail.com

Push to production?
Your app will be available to any user with a Google Account.

You've configured your app in a way that requires verification. To complete verification, you will need to provide:

An official link to your app's Privacy Policy
A YouTube video showing how you plan to use the Google user data you get from scopes
A written explanation telling Google why you need access to sensitive and/or restricted user data
All your domains verified in Google Search Console

live_639382179_XZy5EtYfTOvJAV0S9Tq0dDrrLAKmgS